<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <div id="logo">
      <h1>
      <%= link_to 'Stefan Sanchez', root_path %>
      </h1>
    </div>

    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li>About</li>
    </ul>

    <ul>
      <li class="category">Let's Connect</li>
      <li><a href="https://www.twitter.com/whatsastefan">Twitter</a></li>
      <li><a href="https://www.github.com">Github</a></li>
      <li><a href="https://www.linkedin.com/in/stefansanchez">LinkedIn</a></li>
      <li><a href="mailto:stefangksanchez@gmail.com" "email me">Email Me</a></li>
    </ul>

    <p class="sign_in">Admin Login</p>
  </div>

  <div id="main_content">
    <div id="header">
      <p>All Posts</p>
      <div class="buttons">
        <button class="button"><%= link_to 'New Post', new_post_path %></button>
        <button class="button">Log Out</button>
      </div>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
